<div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <input class="search_input" [(ngModel)]="searchText" type="text" name="" placeholder="Search...">
      </div>
    </div>
    <h3 class="text-center mx-auto">Publicações</h3>
    <div class="d-flex flex-column search-box mx-auto">
      <div *ngFor="let item of colecao | appFilter: searchText" class="d-flex flex-wrap flex-column list-item">
        <h6 class="text-center">{{item.title}}</h6>
        <p class="text-center">{{item.content}}</p>
        <p class="text-center">{{item.date.toLocaleDateString()}}</p>
      </div>
    </div>
  </div>