<div class="container-fluid text-center mx-auto">
    <div style="border-bottom: 1px solid white;" class="d-flex flex-wrap flex-row justify-content-around mb-5">
        <a style="font-size: 1.6rem !important;" href="">Home</a>
        <a style="font-size: 1.6rem !important;"href="">Contato</a>
    </div>
    <div class="d-flex flex-wrap flex-column justify-content-center align-items-center">
        <div class="d-flex flex-wrap flex-row">
            <img class="rounded mx-auto" src="assets/WhatsApp Image 2023-07-14 at 08.14.53.jpeg" width="200px"
                height="250px" alt="">
            <h5 class="p-4">Caio Marques, Desenvolvedor Front-end.<br>
                <h5 class="mt-2 p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis necessitatibus reprehenderit a doloribus repellat velit neque praesentium dolorum officia, repudiandae hic architecto consequuntur modi quis? Molestiae repellendus, obcaecati quo nisi ad dignissimos voluptates magni dolorum nulla suscipit officia voluptate. Temporibus, eligendi pariatur molestias voluptatibus esse odit natus culpa quae distinctio.</h5>
            </h5>
        </div>

        <h1 class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, nisi.</h1>
        <p class="mt-2 p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis quasi assumenda omnis
            odit? Debitis,
            doloremque, suscipit hic necessitatibus a neque soluta earum eligendi, numquam architecto reiciendis
            itaque magnam iusto voluptates? Sint nam, optio alias sit consectetur enim incidunt eveniet
            exercitationem, doloribus deserunt, quos voluptatem hic fugiat veniam. Possimus, inventore et!</p>
    </div>
    <div class="d-flex mx-auto justify-content-around align-items-center mb-5 mt-2" style="width: 100px; height: 100px;">
        <div class="box" width="30px" height="15px" style="background-color: white; width: 15px; height: 5px;"></div>
        <div><button class="btn">Read...</button></div>
        <div class="box" width="30px" height="5px" style="background-color: white; width: 15px; height: 5px;"></div>

    </div>
</div>